{% extends "base.html" %}

{% block content %}

  <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
  <script type="text/javascript" async="true" src="/static/js/books.js"></script>

  <h1>Books</h1>

  <table class="books" id="books">
    <thead>
      <tr>
	<th>Title</th>
	<th>Author</th>
	<th>Status</th>
      </tr>
    </thead>
    <tbody>

    <!-- Books that are on my reading list should be first, and then we sort by title sorted by the title. -->

    {% for book in items|sort|sort(attribute=2) %}
    <tr class="meta {{ loop.cycle('odd', 'even') }}">
      <td class="pad_right">{{ book[0]|trim }}</td>
      <td class="nowrap pad_right">{{ book[1]|trim }}</td>
      <td class="nowrap pad_right">{{ book[2]|trim }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>

  <h2>About</h2>

  <p>I've only just started this list, and due to its nature, it's a little sparse at the moment.</p>
  <p>Some books also have notes associated with them. Click the book to read its respective note. Currently, the majority of the books on this list don't have a note, and this is because they've been read so long ago that they aren't fresh on my mind anymore. As I reread some of the stuff on this list, I'll be sure to put some of my thoughts down.</p>

{% endblock %}
