{% extends "base.html" %}

{% block content %}

  <script type="text/javascript" src="/static/js/jquery.tablesorter.min.js"></script>
  <script type="text/javascript" async="true" src="/static/js/books.js"></script>

  <h2>Books</h2>

  <h3>My current reading list</h3>

  <table class="books">
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Language</th>
      </tr>
    </thead>
    <tbody>

    {% for book in items|sort %}
    {% if book[2]|trim != "finished" %}
    <tr class="meta {{ loop.cycle('odd', 'even') }}">
      <td class="pad_right">{{ book[0]|trim }}</td>
      <td class="nowrap pad_right">{{ book[1]|trim }}</td>
      <td class="nowrap pad_right">{{ book[3]|trim }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>

  <br/>

  <h2>Books I've read</h2>

  <table class="books">
    <thead>
      <tr>
	<th>Title</th>
	<th>Author</th>
        <th>Language</th>
      </tr>
    </thead>
    <tbody>

    {% for book in items|sort %}
    {% if book[2]|trim == "finished" %}
    <tr class="meta {{ loop.cycle('odd', 'even') }}">
      <td class="pad_right">{{ book[0]|trim }}</td>
      <td class="nowrap pad_right">{{ book[1]|trim }}</td>
      <td class="nowrap pad_right">{{ book[3]|trim }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>

  <br/>

  <h2>About</h2>

  <p>I've only just started this list, and due to its nature, it's a little sparse at the moment.</p>
  <p>Some books also have notes associated with them. Click the book to read its respective note. Currently, the majority of the books on this list don't have a note, and this is because they've been read so long ago that they aren't fresh on my mind anymore. As I reread some of the stuff on this list, I'll be sure to put some of my thoughts down.</p>
  <p>A final note about my reading list. It's not so much a list as it is an unorganized pile. There is no order, but the next that I read usually comes from there.</p>

{% endblock %}
