/* FONTS */

@font-face {
    font-family: DejaVuSansMono;
    src: local('DejaVu Sans Mono'), 
         url('../fonts/DejaVuSansMono.ttf');
}

@font-face {
    font-family: DejaVuSansCondensed;
    src: local('DejaVu Sans Condensed'), 
         url('../fonts/DejaVuSansCondensed.ttf');
}

@font-face {
    font-family: VLGothic;
    src: url('static/fonts/VL-Gothic-Regular.ttf');
}


/* RESPONSIVE STUFF */

@media screen and (max-width: 65em) {
    #container {
        width: 90%;
    }

    #title {
        display: block;
        text-align: center;
        padding-bottom: 0.2em;
    }

    #navigation {
        text-align: center;
    }

    #content img {
	width: auto;
	height: auto;
    }
}

@media screen and (min-width: 65em) {
    #container {
        width: 60em;
    }
    #title {
        display: inline;
    }
    #navigation {
        display: inline;
    }
    #navigation ul {
        float: right;
    }
}

/* GLOBAL */

html, body {
    font-family: serif;
    color: #444444;
}

#container {
    padding: 0 1.5em 0.2em 1.5em;
    margin: 0 auto;
}

#content {
    line-height: 1.5em;
}

#content img {
    display: block;
    margin: 1em auto 1.75em auto;
    max-width: 100%;
}

#content ul {
    margin: 1em 0 1em 5em;
}

/* HEADER */

#title {
    font-size: 3em;
    text-decoration: none;
    color: #333333;
}

#header {
    line-height: 3em;
    margin-top: 0.5em;
    border-bottom: 3px double black;
    vertical-align: middle;
}

#navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#navigation ul li {
    display: inline;
    margin: 0 0 0 1em;
    font-size: 1.5em;
}

#navigation li a {
    font-family: serif;
    text-decoration: none;
}

#pageMeta {
    margin: -0.5em 0 1em 0;
    text-align: center;
    font-size: 1em;
    color: #777777;
}

#page_footer {
    text-align: center;
    margin-top: 3em;
}

/* FOOTER */

#footer {
    line-height: 3em;
    border-top: 3px double black;
    margin-top: 2em;
}

#footer table {
    width: 100%;
}

#footer table td{
    vertical-align: top;
    width: 33%;
}

#footer td.wq {
    font-family: DejaVuSansMono;
    font-size: 1.5em;   
    text-align: left;
}

#footer td.source {
    text-align: center;
}

#footer td.cc {
    padding-top: 0.5em;
    text-align: right;
}

/* TYPOGRAPHY */

h1, h2 {
    margin-bottom: 0.5em;
    font-family: sans;
}

h1 {
    color: #006699;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-top: 0.75em;
}

h2 {
    color: #006699;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1em;
    padding-top: 0.25em;
}

p {
    text-indent: 2.5em;
    margin-bottom: 0.5em;
}

a {
    color: #338A1C;
}

a:hover {
    color: #246313;
}

div.codehilite {
    margin-top: 1em;
    margin-bottom: 1.5em;
}

table.books {
    
}

/* HELPERS */

.large {
    font-size: 1.25em;
}

.blue {
    color: #006699;
}

.small {
    font-size: 0.9em;
}

.sans {
    font-family: DejaVuSansCondensed; 
}

em {
    font-style: italic;
}

ul.list_of_pages li {
    margin-bottom: 0.75em;
}

.ja {
    font-family: VLGothic, sans-serif;
}

pre {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    white-space: pre-wrap;
    line-height: 1.3em;
    letter-spacing: 0;
}

.light {
    color: #999999;
}

#feed {
    width: 100%;
}

#feed a {
    float: right;
    color: #B83948;
    text-decoration: none;
}

#feed img {
    margin-top: 0.25em;
    width: 1.25em;
    height: 1.25em;
}

.code {
    font-family: DejaVuSansMono, monospace;
    background: #fdfdfd;
    font-size: 0.95em;
    padding: 0.05em 0.15em 0.05em 0.15em;
    border: 1px dotted #b0b0b0;
}

.books {
    margin-top: 2em;
    width: 100%;
}

.books th {
    font-weight: bold;
    border-bottom: 2px solid #666666;
}

.books > tbody > tr:hover {
    cursor: pointer;
    background-color: #ffffcc;
}

.books > tbody > tr:hover + .notes {
    background-color: #ffffcc;
}

/* TODO: No such thing as a previous sibling, so we when notes
   about a book are hovered over, the previous element loses
   its highlight. CSS selector v4 fixes this, but it isn't
   supported anywhere. Right now, I'm fixing this with a bit of
   javascript.*/

.books .notes {
    display: none;
}

.books .odd {
    background-color: #fbfbfb;
}

.books .even {
    background-color: #ffffff;
}

/* Some nice helpers */

.centre {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.pad_right {
    padding-right: 1em;
}