@font-face {
    font-family: RobotoCondensedRegular;
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed Regular'), url(/static/fonts/RobotoCondensed-Regular.ttf) format('truetype');
}

@font-face {
    font-family: RobotoLight;
    src: url(/static/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: RobotoCondensedBoldItalic;
    src: url(/static/fonts/RobotoCondensed-BoldItalic.ttf);
}

@font-face {
    font-family: RobotoCondensedBold;
    src: url(/static/fonts/RobotoCondensed-Bold.ttf);
}

@font-face {
    font-family: DejaVuSansMono;
    src: url(/static/fonts/DejaVuSansMono.ttf);
}

body {font-family:RobotoCondensedRegular;}

@media screen and (max-width: 65em) {
    #title {
        text-align: center;
        margin-bottom: 0.25em;
    }

    #container {
        width: 90%;
    }

    #navigation {
        text-align: center;
    }

    #content img {
        width: auto;
        height: auto;
    }
}

@media screen and (min-width: 65em) {
    #title {
        display: inline;
    }

    #container {
        width: 60em;
    }

    #navigation {
        margin-top: 0.5em;
        display: inline;
        float: right;
    }

    #navigation ul {
        float: right;
    }
}

#container {
    margin:0 auto;
    background-color:#fefefe;
    height:100%;
    overflow: hidden;
}

/* HEADER */

#header {
    margin-top: 0.1em;
    border-bottom: 4px dashed #555;
}

#header a {
    text-decoration: none;
}

#navigation {
    font-size:1.5em;
    font-family: RobotoCondensedBoldItalic;
}

#content {
    width:auto;
    font-size:1.25em;
    color: #555555;
    padding: 0 1em 0 1em;
    font-family: RobotoLight;
}

#content a {
    text-decoration: underline;
    color: #000000;
}

a:visited {
    color: #000000;
}

#content > p {
    text-indent: 1.75em;
    line-height:1.25em;
    letter-spacing: 0.004em;
}

#content > h2 {
    font-family: RobotoCondensedBold;
    font-size: 2em;
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

#content > h3 {
    font-family: RobotoCondensedBold;
    font-size: 1.75em;
    margin-bottom: 0.25em;
}

#pageMeta {
    text-align: center;
    font-size: 0.85em;
    color: #999999;
    margin-bottom: 3.5em;
}

#footer {
    clear: both;
}

h1 {
    font-size: 3em;
    font-family: RobotoCondensedBoldItalic;
    text-align: left;
    padding-left: 0.25em;
}

h1 a {
    color: #555555;
}

#navigation > ul {
    margin: 0 0 0.5em 0;
    padding: 0;
    list-style-type: none;
}

#navigation > ul > li {
    display: inline;
    padding: 0 0.5em 0 0.5em;
}

#navigation a {
    color: #666666;
}

#navigation a:hover, #content a:hover, #title a:hover {
    color: #08abff;
}

#content p {
    margin-bottom: 0.5em;
}

#content ul {
    margin: 1em 0 1em 4em;
}

#content ul li {
    margin-bottom: 0.5em;
}

#footer {
    border-top: 4px dashed #555555;
    line-height: 3em;
    margin-top: 1em;
    font-family: RobotoCondensedBoldItalic;
}

#footer a {
    text-decoration: none;
    color: #000000;
}

#footer a:hover {
    color: #08abff;
}

#footer table {
    width: 100%;
}

#footer table td{
    vertical-align: top;
    width: 33%;
}

#footer td.wq {
    color: #555555;
    font-size: 1.5em;   
    text-align: left;
}

#footer td.source {
    font-size: 1.2em;
    text-align: center;
}

#footer td.cc {
    padding-top: 0.5em;
    text-align: right;
}