{% extends "base.html" %}

{% block content %}

  <h2>Archive</h2>

  <h3 id='blog-posts'>Blog Posts</h3>
  <ul class="list_of_pages">
    {% for page in pages %}
    <li>
      <span>{{ page.date }}</span> — 
      <a href="{{ url_for('page', path=page.path) }}">
        {{ page.title }}
      </a>
      <br/>
      <em class="small">{{ page.summary }}</em>
      [{% for tag in page.tags %}<a href="{{ url_for('tag', tag=tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}]
    </li>
    {% endfor %}
  </ul>

  <h2 id='lists'>Lists</h2>
  <ul class="list_of_pages">
    <li>
      <a href="{{ url_for('collection', item='books') }}">My reading list, and books I've read</a>
    </li>
  </ul>

{% endblock %}
