<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/pygments.css" />
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <title>aleks.rs</title>
  </head>
  <body>
    <div id="container">

      <!-- Header -->
      <div id="header">
        <a id="title" href="{{ url_for('index') }}">aleks.rs</a>

	<div id="navigation">
	  <ul>
            <li>
              <a href="{{ url_for('archive') }}">Archive</a>
            </li>
	    <li>
              <a href="{{ url_for('page', path='projects') }}">Projects</a>
            </li>
            <li>
              <a href="{{ url_for('page', path='writings') }}">Writings</a>
            </li>
            <li>
              <a href="{{ url_for('page', path='about') }}">About</a>
            </li>
	  </ul>
	</div>

      </div>
         <div id="feed">
          <a href="{{ url_for('recent_feed') }}"><img src="/static/images/global/feed.svg" /></a>
        </div>
     
      <!-- Content -->
      <div id="content">
        {% block content %}

        {% endblock content %}   
      </div>

      <!-- Footer -->
      <div id="footer">
        <table>
          <tr>
            <td class="wq">C-x C-c</td>
            <td class="source"><em><a href="https://github.com/AleksandarMicovic/aleks.rs">view source</a></em></td>
            <td class="cc"><a id="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/" target="_blank"><img src="/static/images/cc-by-sa.svg" /></a></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
