<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>
      $if(en)$ Aleksandar Mićović $endif$
      $if(sr)$ Александар Мићовић $endif$

      — $title$
    </title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>
          <a href="/">
            $if(en)$ Aleksandar Mićović $endif$
            $if(sr)$ Александар Мићовић $endif$
          </a>
        </h1>
        <div id="navigation">
          <ul>
            <li>
              <a href="$if(en)$/archive/$endif$$if(sr)$/архив/$endif$">
                $if(en)$ Archive $endif$
                $if(sr)$ Архив $endif$
              </a>
            </li>
            <!--<li>
              <a href="/projects/">
                $if(en)$ Projects $endif$
                $if(sr)$ Пројекти $endif$
              </a>
            </li>-->
            <li>
              <a href="$if(en)$/misc/$endif$$if(sr)$/разно/$endif$">
                $if(en)$ Miscellanea $endif$
                $if(sr)$ Разно $endif$
              </a>
            </li>
            <li>
              <a href="$if(en)$/about/$endif$$if(sr)$/о_мени/$endif$">
                $if(en)$ About $endif$
                $if(sr)$ О мени $endif$
              </a>
            </li>
          </ul>
        </div>
      </div>
      
      <div id="content">
        $body$
      </div>
      <div id="footer">
        <table>
          <tr>
            <td class="wq">C-x C-c</td>
            <td class="source"><a href="https://github.com/AleksandarMicovic/aleks.rs" target="_blank">$if(en)$view source$else$извор сајта$endif$</a></td>
            <td class="cc"><a id="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img src="/images/cc-by-sa.svg" /></a></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
