{% extends "base.html" %}

{% block content %}

  <h2>Hello!</h2>
  <p>My name is Aleksandar Micovic, and this is my little corner of the Internet. I have a degree in Computer Science from the University of Toronto, and work as a software engineer in Belgrade, Serbia. I spend a lot of my spare time coding, and dreaming about monads and burritos. I have not spoken to a psychologist yet. Apart from code, I enjoy cooking and writing (read: ranting).

  <h2>Newest Posts</h2>
  {% for page in pages %}
  <ul>
    <li><a href="{{ url_for('page', path=page.path) }}">{{ page.title }}</a> <em class="light">({{ page.date }})</em></li>
  </ul>
  {% endfor %}

{% endblock %}
