{% extends "base.html" %}

{% block content %}
    <h2 class="page_title">{{ page.title }}</h2>
    {% if page.type == 'content' and not 'list' in page.tags %}
    <div id="page_meta">
      <em>by {{ page.author }}</em><br/>
      <em>written {{ page.date }}
      {% if (page.updated != page.date) and page.updated %} and updated {{ page.updated }}{% endif %}</em>
    </div>
    {% endif %}
    {{ page.html|safe }}

    {% if page.tags and not 'list' in page.tags %}
    <div id="page_footer">
      <h4>Thanks for reading!</h4>
      <p><strong>Tags:</strong> [{% for tag in page.tags %}<a href="{{ url_for('tag', tag=tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}]</p>
    </div>
    {% endif %}
{% endblock %}
