{% extends "base.html" %}

{% block content %}
    <h2 class="page_title">{{ page.title }}</h2>
    {% if page.type == 'content' and not 'list' in page.tags %}
    <div id="page_header">
      <em>by {{ page.author }}</em><br/>
      <em>written {{ page.date }}</em>
      {% if (page.updated != page.date) and page.updated %}<p class="center small"><em>and last updated on {{ page.updated }}</em></p>{% endif %}
    </div>
    {% endif %}

    {{ page.html|safe }} 

    {% if page.type == 'content' %} ■ {% endif %}

    {% if page.tags and not 'list' in page.tags %}
    <div id="page_footer">
      <h4>Thanks for reading!</h4>
      <p><strong>Tags:</strong> [{% for tag in page.tags %}<a href="{{ url_for('tag', tag=tag) }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}{% endfor %}]</p>
    </div>
    {% endif %}
{% endblock %}
